<div class="jumbotron" data-pages="parallax">
  <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
    <div class="inner">
      <ul class="breadcrumb">
        <li>
          <p>Curve</p>
        </li>
        <li><a href="/#/contracts">Contracts</a></li>
        <li><a href="" class="active">Create</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- Main Container -->
<div class="container-fluid container-fixed-lg">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-complete pull-right">Save</button>
    </div>
  </div>
  <div class="row">
    <div class="panel panel-transparent">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs hidden-sm hidden-xs" data-init-reponsive-tabs="dropdownfx">
        <li class="active">
          <a data-toggle="tab" href="#overview" aria-expanded="true"><span>Overview</span></a>
        </li>
        <li class="">
          <a data-toggle="tab" href="#terms" aria-expanded="false"><span>Terms</span></a>
        </li>
        <li class="">
          <a data-toggle="tab" href="#reserves" aria-expanded="false"><span>Reserves</span></a>
        </li>
        <li class="">
          <a data-toggle="tab" href="#catalogue" aria-expanded="false"><span>Catalogue</span></a>
        </li>
        <li class="">
          <a data-toggle="tab" href="#costs" aria-expanded="false"><span>Costs</span></a>
        </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="overview">
            <div class="row">
              <!--TABLE TABLE TABLE TABLE -->
              <div class="col-xs-12 col-md-6">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <div class="panel-title">
                      Overview
                    </div>
                  </div>
                  <div class="panel-body p-t-15">
                    <div class="form-group required">
                <label>Royaltor</label>
                <select class="full-width" data-init-plugin="select2">
                  <option value="WV">Royaltor 1</option>
                  <option value="WV">Royaltor 1</option>
                  <option value="WV">Royaltor 1</option>
                </select>
              </div>
              <div class="form-group required">
                <label>Name</label>
                <input type="text" class="form-control" required>
              </div>
              <div class="form-group required">
                <label>Accounting Period</label>
                <select class="full-width" data-init-plugin="select2">
                  <option value="WV">Accounting Period 1</option>
                  <option value="WV">Accounting Period 1</option>
                  <option value="WV">Accounting Period 1</option>
                </select>
              </div>
              <div class="form-group required">
                <label>Contract Type</label>
                <select class="full-width" data-init-plugin="select2">
                  <option value="WV">Royalty, Profit, Share, etc.</option>
                  <option value="WV">Royalty, Profit, Share, etc.</option>
                  <option value="WV">Royalty, Profit, Share, etc.</option>
                  <option value="WV">Royalty, Profit, Share, etc.</option>
                </select>
              </div>
                  </div>
                </div>
              </div>

              <!-- SECOND TABLE - - - - - - - - - - - - - - -->
              <div class="col-xs-12 col-md-6">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <div class="panel-title">
                      Payout
                    </div>
                  </div>
                  <div class="panel-body p-t-15">
                    <div class="form-group required">
                      <label>Min Payout</label>
                      <input type="text" class="form-control" required>
                    </div>
                    
                  </div>
                </div>
              </div>
     <!-- TABLE END TABLE END TABLE END TABLE END -->
          </div>
          
        </div>
        <div class="tab-pane" id="terms">
          <div class="row">
            <div class="col-xs-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="panel-title">
                    Sales
                  </div>
                </div>
                <div class="panel-body p-t-15">
                  <div class="row">
                  <div class="form-group required col-xs-5 col-md-3">
                <label>Territory</label>
                  <select class="full-width" data-init-plugin="select2">
                    <option value="WV">Territory 1</option>
                    <option value="WV">Territory 1</option>
                    <option value="WV">Territory 1</option>
                  </select>
                  </div>
                  <div class="form-group required col-xs-5 col-md-3">
                      <label>Channel</label>
                      <select class="full-width" data-init-plugin="select2">
        <option value="WV">Channel 1</option>
                    <option value="WV">Channel 1</option>
                    <option value="WV">Channel 1</option>
                      </select>
                  </div>
                  <div class="form-group required col-xs-5 col-md-3">
                      <label>Configuration</label>
                      <select class="full-width" data-init-plugin="select2">
                        <option value="WV">Configuration 1</option>
                        <option value="WV">Configuration 1</option>
                        <option value="WV">Configuration 1</option>
                      </select>
                  </div>
                  <div class="form-group required col-xs-5 col-md-3">
                      <label>Price Category</label>
                      <select class="full-width" data-init-plugin="select2">
        <option value="WV">Price Category 1</option>
        <option value="WV">Price Category 1</option>
        <option value="WV">Price Category 1</option>
                      </select>
                  </div>
                  <div class="form-group required col-xs-5 col-md-3">
                      <label>Type</label>
                      <select class="full-width" data-init-plugin="select2">
        <option value="WV">Type 1</option>
        <option value="WV">Type 1</option>
        <option value="WV">Type 1</option>
                      </select>
                  </div>
                  <div class="form-group required col-xs-5 col-md-3">
                      <label>Rate</label>
                      <input type="text" class="form-control" required>
                  </div>
                  <div class="form-group required col-xs-5 col-md-3">
                      <label>Unit Deduction</label>
                      <input type="text" class="form-control" required>
                  </div>
                  <div class="form-group required col-xs-5 col-md-3">
                      <label>Reserve</label>
                      <input type="text" class="form-control" required>
                  </div>
                  </div>
                  <br>
                  <button class="btn btn-complete">Add Term</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="panel-title">
                    Returns
                  </div>
                </div>
                <div class="panel-body p-t-15">
                  <div class="row">
                  <div class="form-group required col-xs-5 col-md-3">
                <label>Territory</label>
                  <select class="full-width" data-init-plugin="select2">
                    <option value="WV">Territory 1</option>
                    <option value="WV">Territory 1</option>
                    <option value="WV">Territory 1</option>
                  </select>
                  </div>
                  <div class="form-group required col-xs-5 col-md-3">
                      <label>Channel</label>
                      <select class="full-width" data-init-plugin="select2">
        <option value="WV">Channel 1</option>
                    <option value="WV">Channel 1</option>
                    <option value="WV">Channel 1</option>
                      </select>
                  </div>
                  <div class="form-group required col-xs-5 col-md-3">
                      <label>Configuration</label>
                      <select class="full-width" data-init-plugin="select2">
                        <option value="WV">Configuration 1</option>
                        <option value="WV">Configuration 1</option>
                        <option value="WV">Configuration 1</option>
                      </select>
                  </div>
                  <div class="form-group required col-xs-5 col-md-3">
                      <label>Price Category</label>
                      <select class="full-width" data-init-plugin="select2">
        <option value="WV">Price Category 1</option>
        <option value="WV">Price Category 1</option>
        <option value="WV">Price Category 1</option>
                      </select>
                  </div>
                  <div class="form-group required col-xs-5 col-md-3">
                      <label>Type</label>
                      <select class="full-width" data-init-plugin="select2">
        <option value="WV">Type 1</option>
        <option value="WV">Type 1</option>
        <option value="WV">Type 1</option>
                      </select>
                  </div>
                  <div class="form-group required col-xs-5 col-md-3">
                      <label>Rate</label>
                      <input type="text" class="form-control" required>
                  </div>
                  <div class="form-group required col-xs-5 col-md-3">
                      <label>Unit Deduction</label>
                      <input type="text" class="form-control" required>
                  </div>
                  <div class="form-group required col-xs-5 col-md-3">
                      <label>Reserve</label>
                      <input type="text" class="form-control" required>
                  </div>
                  </div>
                  <br>
                  <button class="btn btn-complete">Add Term</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="panel-title">
                    Costs
                  </div>
                </div>
                <div class="panel-body p-t-15">
                  <div class="row">
                  <div class="form-group required col-xs-5 col-md-3">
                <label>Territory</label>
                  <select class="full-width" data-init-plugin="select2">
                    <option value="WV">Territory 1</option>
                    <option value="WV">Territory 1</option>
                    <option value="WV">Territory 1</option>
                  </select>
                  </div>
                  <div class="form-group required col-xs-5 col-md-3">
                      <label>Type</label>
                      <select class="full-width" data-init-plugin="select2">
        <option value="WV">Type 1</option>
                    <option value="WV">Type 1</option>
                    <option value="WV">Type 1</option>
                      </select>
                  </div>
                  <div class="form-group required col-xs-5 col-md-3">
                      <label>Rate</label>
                      <input type="text" class="form-control" required>
                  </div>
                  </div>
                  <br>
                  <button class="btn btn-complete">Add Term</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="panel-title">
                    Mechanicals
                  </div>
                </div>
                <div class="panel-body p-t-15">
                  <div class="row">
                  <div class="form-group required col-xs-5 col-md-3">
                <label>Territory</label>
                  <select class="full-width" data-init-plugin="select2">
                    <option value="WV">Territory 1</option>
                    <option value="WV">Territory 1</option>
                    <option value="WV">Territory 1</option>
                  </select>
                  </div>
                  <div class="form-group required col-xs-5 col-md-3">
                      <label>Rate</label>
                      <input type="text" class="form-control" required>
                  </div>
                  </div>
                  <br>
                  <button class="btn btn-complete">Add Term</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="reserves">
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="panel-title">
                    Reserve Release Schedule
                  </div>
                </div>
                <div class="panel-body p-t-15">
                  <div class="form-group required">
                    <label>Period 1</label>
                    <input type="text" class="form-control" required>
                  </div>
                  <div class="form-group required">
                    <label>Period 2</label>
                    <input type="text" class="form-control" required>
                  </div>
                  <div class="form-group required">
                    <label>Period 3</label>
                    <input type="text" class="form-control" required>
                  </div>
                  <div class="form-group required">
                    <label>Period 4</label>
                    <input type="text" class="form-control" required>
                  </div>
                  <div class="form-group required">
                    <label>Period 5</label>
                    <input type="text" class="form-control" required>
                  </div>
                  <br>
                  <button class="btn btn-complete">Add</button>
                </div>
              </div>
              
            </div>
          </div>
        </div>
        <div class="tab-pane" id="catalogue">
          <div class="row">
            <div class="col-xs-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="panel-title">

                    <div class="panel panel-transparent">
                      <!-- Nav tabs -->
                      <ul class="nav nav-tabs hidden-sm hidden-xs" data-init-reponsive-tabs="dropdownfx">
                        <li class="active">
                          <a data-toggle="tab" href="#releases" aria-expanded="true"><span>Releases</span></a>
                        </li>
                        <li class="">
                          <a data-toggle="tab" href="#tracks" aria-expanded="false"><span>Tracks</span></a>
                        </li>
                        <li class="">
                          <a data-toggle="tab" href="#works" aria-expanded="false"><span>Works</span></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="panel-body p-t-15">
                  <div class="row">

                    <!--TABLE TABLE TABLE TABLE -->
              <div class="tab-pane" id="releases">
                <div class="table-responsive">
                  <table class="table table-hover table-condensed dataTable no-footer">
                    <thead>
                      <tr>
                        <th class="table-checkbox"><input type="checkbox"></th>
                        <th>Title</th>
                        <th>Artist</th>
                        <th>Cat No.</th>
                        <th>Barcode</th>
                        <th>Label</th>
                        <th>Format</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="v-align-middle"><input type="checkbox"></td>
                        <td class="v-align-middle">Track 1</td>
                        <td class="v-align-middle">Artist 1</td>
                        <td class="v-align-middle">CATNO123</td>
                        <td class="v-align-middle">0123456789</td>
                        <td class="v-align-middle">Label 1</td>
                        <td class="v-align-middle">Vinyl</td>
                      </tr>
                      <tr>
                        <td class="v-align-middle"><input type="checkbox"></td>
                        <td class="v-align-middle">Track 1</td>
                        <td class="v-align-middle">Artist 1</td>
                        <td class="v-align-middle">CATNO123</td>
                        <td class="v-align-middle">0123456789</td>
                        <td class="v-align-middle">Label 1</td>
                        <td class="v-align-middle">Vinyl</td>
                      </tr>
                      <tr>
                        <td class="v-align-middle"><input type="checkbox"></td>
                        <td class="v-align-middle">Track 1</td>
                        <td class="v-align-middle">Artist 1</td>
                        <td class="v-align-middle">CATNO123</td>
                        <td class="v-align-middle">0123456789</td>
                        <td class="v-align-middle">Label 1</td>
                        <td class="v-align-middle">Vinyl</td>
                      </tr>
                      <tr>
                        <td class="v-align-middle"><input type="checkbox"></td>
                        <td class="v-align-middle">Track 1</td>
                        <td class="v-align-middle">Artist 1</td>
                        <td class="v-align-middle">CATNO123</td>
                        <td class="v-align-middle">0123456789</td>
                        <td class="v-align-middle">Label 1</td>
                        <td class="v-align-middle">Vinyl</td>
                      </tr>
                      <tr>
                        <td class="v-align-middle"><input type="checkbox"></td>
                        <td class="v-align-middle">Track 1</td>
                        <td class="v-align-middle">Artist 1</td>
                        <td class="v-align-middle">CATNO123</td>
                        <td class="v-align-middle">0123456789</td>
                        <td class="v-align-middle">Label 1</td>
                        <td class="v-align-middle">Vinyl</td>
                      </tr>
                      <tr>
                        <td class="v-align-middle"><input type="checkbox"></td>
                        <td class="v-align-middle">Track 1</td>
                        <td class="v-align-middle">Artist 1</td>
                        <td class="v-align-middle">CATNO123</td>
                        <td class="v-align-middle">0123456789</td>
                        <td class="v-align-middle">Label 1</td>
                        <td class="v-align-middle">Vinyl</td>
                      </tr>
                      <tr>
                        <td class="v-align-middle"><input type="checkbox"></td>
                        <td class="v-align-middle">Track 1</td>
                        <td class="v-align-middle">Artist 1</td>
                        <td class="v-align-middle">CATNO123</td>
                        <td class="v-align-middle">0123456789</td>
                        <td class="v-align-middle">Label 1</td>
                        <td class="v-align-middle">Vinyl</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              
      <!-- TABLE END TABLE END TABLE END TABLE END -->

                  <div class="row">
              <div class="col-xs-12 text-center">
                <pagination pages="pages" total="total_pages" current="current_page" change-page="changePage(page)" class="ng-isolate-scope">
                    <nav>
                      <ul class="pagination">
                          <li class="cursor">
                            <span aria-hidden="true" aria-label="Previous" ng-click="changePage({ page: 1 })">«</span>
                          </li>
                          <li class="cursor ng-scope" ng-repeat="page in pages">
                            <span ng-click="changePage({ page: page })" ng-class="{ current: current === page }" class="ng-binding current">1</span>
                          </li>
                          <li class="cursor">
                            <span aria-hidden="true" aria-label="Next" ng-click="changePage({ page: total })">»</span>
                          </li>
                      </ul>
                    </nav>
                </pagination>
              </div>
          </div>
        </div>

        <div class="tab-pane" id="tracks">
                <div class="table-responsive">
                  <table class="table table-hover table-condensed dataTable no-footer">
                    <thead>
                      <tr>
                        <th class="table-checkbox"><input type="checkbox"></th>
                        <th>Title</th>
                        <th>Artist</th>
                        <th>Cat No.</th>
                        <th>Barcode</th>
                        <th>Label</th>
                        <th>Format</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="v-align-middle"><input type="checkbox"></td>
                        <td class="v-align-middle">Track 1</td>
                        <td class="v-align-middle">Artist 1</td>
                        <td class="v-align-middle">CATNO123</td>
                        <td class="v-align-middle">0123456789</td>
                        <td class="v-align-middle">Label 1</td>
                        <td class="v-align-middle">Vinyl</td>
                      </tr>
                      <tr>
                        <td class="v-align-middle"><input type="checkbox"></td>
                        <td class="v-align-middle">Track 1</td>
                        <td class="v-align-middle">Artist 1</td>
                        <td class="v-align-middle">CATNO123</td>
                        <td class="v-align-middle">0123456789</td>
                        <td class="v-align-middle">Label 1</td>
                        <td class="v-align-middle">Vinyl</td>
                      </tr>
                      <tr>
                        <td class="v-align-middle"><input type="checkbox"></td>
                        <td class="v-align-middle">Track 1</td>
                        <td class="v-align-middle">Artist 1</td>
                        <td class="v-align-middle">CATNO123</td>
                        <td class="v-align-middle">0123456789</td>
                        <td class="v-align-middle">Label 1</td>
                        <td class="v-align-middle">Vinyl</td>
                      </tr>
                      <tr>
                        <td class="v-align-middle"><input type="checkbox"></td>
                        <td class="v-align-middle">Track 1</td>
                        <td class="v-align-middle">Artist 1</td>
                        <td class="v-align-middle">CATNO123</td>
                        <td class="v-align-middle">0123456789</td>
                        <td class="v-align-middle">Label 1</td>
                        <td class="v-align-middle">Vinyl</td>
                      </tr>
                      <tr>
                        <td class="v-align-middle"><input type="checkbox"></td>
                        <td class="v-align-middle">Track 1</td>
                        <td class="v-align-middle">Artist 1</td>
                        <td class="v-align-middle">CATNO123</td>
                        <td class="v-align-middle">0123456789</td>
                        <td class="v-align-middle">Label 1</td>
                        <td class="v-align-middle">Vinyl</td>
                      </tr>
                      <tr>
                        <td class="v-align-middle"><input type="checkbox"></td>
                        <td class="v-align-middle">Track 1</td>
                        <td class="v-align-middle">Artist 1</td>
                        <td class="v-align-middle">CATNO123</td>
                        <td class="v-align-middle">0123456789</td>
                        <td class="v-align-middle">Label 1</td>
                        <td class="v-align-middle">Vinyl</td>
                      </tr>
                      <tr>
                        <td class="v-align-middle"><input type="checkbox"></td>
                        <td class="v-align-middle">Track 1</td>
                        <td class="v-align-middle">Artist 1</td>
                        <td class="v-align-middle">CATNO123</td>
                        <td class="v-align-middle">0123456789</td>
                        <td class="v-align-middle">Label 1</td>
                        <td class="v-align-middle">Vinyl</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              
      <!-- TABLE END TABLE END TABLE END TABLE END -->

                  <div class="row">
              <div class="col-xs-12 text-center">
                <pagination pages="pages" total="total_pages" current="current_page" change-page="changePage(page)" class="ng-isolate-scope">
                    <nav>
                      <ul class="pagination">
                          <li class="cursor">
                            <span aria-hidden="true" aria-label="Previous" ng-click="changePage({ page: 1 })">«</span>
                          </li>
                          <li class="cursor ng-scope" ng-repeat="page in pages">
                            <span ng-click="changePage({ page: page })" ng-class="{ current: current === page }" class="ng-binding current">1</span>
                          </li>
                          <li class="cursor">
                            <span aria-hidden="true" aria-label="Next" ng-click="changePage({ page: total })">»</span>
                          </li>
                      </ul>
                    </nav>
                </pagination>
              </div>
          </div>
        </div>

        <div class="tab-pane" id="works">
                <div class="table-responsive">
                  <table class="table table-hover table-condensed dataTable no-footer">
                    <thead>
                      <tr>
                        <th class="table-checkbox"><input type="checkbox"></th>
                        <th>Title</th>
                        <th>Artist</th>
                        <th>Cat No.</th>
                        <th>Barcode</th>
                        <th>Label</th>
                        <th>Format</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="v-align-middle"><input type="checkbox"></td>
                        <td class="v-align-middle">Track 1</td>
                        <td class="v-align-middle">Artist 1</td>
                        <td class="v-align-middle">CATNO123</td>
                        <td class="v-align-middle">0123456789</td>
                        <td class="v-align-middle">Label 1</td>
                        <td class="v-align-middle">Vinyl</td>
                      </tr>
                      <tr>
                        <td class="v-align-middle"><input type="checkbox"></td>
                        <td class="v-align-middle">Track 1</td>
                        <td class="v-align-middle">Artist 1</td>
                        <td class="v-align-middle">CATNO123</td>
                        <td class="v-align-middle">0123456789</td>
                        <td class="v-align-middle">Label 1</td>
                        <td class="v-align-middle">Vinyl</td>
                      </tr>
                      <tr>
                        <td class="v-align-middle"><input type="checkbox"></td>
                        <td class="v-align-middle">Track 1</td>
                        <td class="v-align-middle">Artist 1</td>
                        <td class="v-align-middle">CATNO123</td>
                        <td class="v-align-middle">0123456789</td>
                        <td class="v-align-middle">Label 1</td>
                        <td class="v-align-middle">Vinyl</td>
                      </tr>
                      <tr>
                        <td class="v-align-middle"><input type="checkbox"></td>
                        <td class="v-align-middle">Track 1</td>
                        <td class="v-align-middle">Artist 1</td>
                        <td class="v-align-middle">CATNO123</td>
                        <td class="v-align-middle">0123456789</td>
                        <td class="v-align-middle">Label 1</td>
                        <td class="v-align-middle">Vinyl</td>
                      </tr>
                      <tr>
                        <td class="v-align-middle"><input type="checkbox"></td>
                        <td class="v-align-middle">Track 1</td>
                        <td class="v-align-middle">Artist 1</td>
                        <td class="v-align-middle">CATNO123</td>
                        <td class="v-align-middle">0123456789</td>
                        <td class="v-align-middle">Label 1</td>
                        <td class="v-align-middle">Vinyl</td>
                      </tr>
                      <tr>
                        <td class="v-align-middle"><input type="checkbox"></td>
                        <td class="v-align-middle">Track 1</td>
                        <td class="v-align-middle">Artist 1</td>
                        <td class="v-align-middle">CATNO123</td>
                        <td class="v-align-middle">0123456789</td>
                        <td class="v-align-middle">Label 1</td>
                        <td class="v-align-middle">Vinyl</td>
                      </tr>
                      <tr>
                        <td class="v-align-middle"><input type="checkbox"></td>
                        <td class="v-align-middle">Track 1</td>
                        <td class="v-align-middle">Artist 1</td>
                        <td class="v-align-middle">CATNO123</td>
                        <td class="v-align-middle">0123456789</td>
                        <td class="v-align-middle">Label 1</td>
                        <td class="v-align-middle">Vinyl</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              
      <!-- TABLE END TABLE END TABLE END TABLE END -->

                  <div class="row">
              <div class="col-xs-12 text-center">
                <pagination pages="pages" total="total_pages" current="current_page" change-page="changePage(page)" class="ng-isolate-scope">
                    <nav>
                      <ul class="pagination">
                          <li class="cursor">
                            <span aria-hidden="true" aria-label="Previous" ng-click="changePage({ page: 1 })">«</span>
                          </li>
                          <li class="cursor ng-scope" ng-repeat="page in pages">
                            <span ng-click="changePage({ page: page })" ng-class="{ current: current === page }" class="ng-binding current">1</span>
                          </li>
                          <li class="cursor">
                            <span aria-hidden="true" aria-label="Next" ng-click="changePage({ page: total })">»</span>
                          </li>
                      </ul>
                    </nav>
                </pagination>
              </div>
          </div>
        </div>





                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="costs">
          <div class="row">
            <div class="col-xs-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="panel-title">
                    Costs
                  </div>
                </div>
                
                <!--TABLE TABLE TABLE TABLE -->
          <div class="panel-body">
              <div class="table-responsive">
                <table class="table table-hover table-condensed dataTable no-footer">
                  <thead>
                    <tr>
                      <th class="table-checkbox"><input type="checkbox"></th>
                      <th>Name</th>
                      <th>Amount</th>
                      <th>Release</th>
                      <th>Contract</th>
                      <th>Client</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="v-align-middle"><input type="checkbox"></td>
                      <td class="v-align-middle">Cost 1</td>
                      <td class="v-align-middle">£1234</td>
                      <td class="v-align-middle">Release Title</td>
                      <td class="v-align-middle">Contract 1</td>
                      <td class="v-align-middle">Client 1</td>
                    </tr>
                    <tr>
                      <td class="v-align-middle"><input type="checkbox"></td>
                      <td class="v-align-middle">Cost 1</td>
                      <td class="v-align-middle">£1234</td>
                      <td class="v-align-middle">Release Title</td>
                      <td class="v-align-middle">Contract 1</td>
                      <td class="v-align-middle">Client 1</td>
                    </tr>
                    <tr>
                      <td class="v-align-middle"><input type="checkbox"></td>
                      <td class="v-align-middle">Cost 1</td>
                      <td class="v-align-middle">£1234</td>
                      <td class="v-align-middle">Release Title</td>
                      <td class="v-align-middle">Contract 1</td>
                      <td class="v-align-middle">Client 1</td>
                    </tr>
                    <tr>
                      <td class="v-align-middle"><input type="checkbox"></td>
                      <td class="v-align-middle">Cost 1</td>
                      <td class="v-align-middle">£1234</td>
                      <td class="v-align-middle">Release Title</td>
                      <td class="v-align-middle">Contract 1</td>
                      <td class="v-align-middle">Client 1</td>
                    </tr>
                    <tr>
                      <td class="v-align-middle"><input type="checkbox"></td>
                      <td class="v-align-middle">Cost 1</td>
                      <td class="v-align-middle">£1234</td>
                      <td class="v-align-middle">Release Title</td>
                      <td class="v-align-middle">Contract 1</td>
                      <td class="v-align-middle">Client 1</td>
                    </tr>
                  </tbody>
                </table>
            </div>
        <!-- TABLE END TABLE END TABLE END TABLE END -->
    <div class="row">
        <div class="col-xs-12 text-center">
          <pagination pages="pages" total="total_pages" current="current_page" change-page="changePage(page)" class="ng-isolate-scope">
              <nav>
                <ul class="pagination">
                    <li class="cursor">
                      <span aria-hidden="true" aria-label="Previous" ng-click="changePage({ page: 1 })">«</span>
                    </li>
                    <li class="cursor ng-scope" ng-repeat="page in pages">
                      <span ng-click="changePage({ page: page })" ng-class="{ current: current === page }" class="ng-binding current">1</span>
                    </li>
                    <li class="cursor">
                      <span aria-hidden="true" aria-label="Next" ng-click="changePage({ page: total })">»</span>
                    </li>
                </ul>
              </nav>
          </pagination>
        </div>
    </div>
  </div>
</div>