<div>
  <form id="login-form" class="p-t-15" role="form">
    <div id="notification"></div>
    <div class="form-group">
      <label>Email</label>
      <input type="text" name="email" placeholder="Email" class="form-control">
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" name="password" placeholder="Password" class="form-control">
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-6 text-right">
        <a href="send_email" class="text-info small">Forgot Password?</a>
      </div>
    </div>
    <button class="btn btn-complete m-t-10" type="submit">Sign In</button>
  </form>
</div>
