 <div class="jumbotron" data-pages="parallax">
  <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
    <div class="inner">
      <ul class="breadcrumb">
        <li>
          <p>Curve</p>
        </li>
        <li><a href="/#/sales">Sales</a></li>       
        <li><a href="/#/unmapped" class="active">Unmapped</a></li>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- Main Container -->
<div class="container-fluid container-fixed-lg">
  <div class="row">
    <div class="col-xs-6 col-md-4">
      <div class="form-group required">
        <label>Track Title</label>
        <input type="text" class="form-control" ng-model="sale.trackTitle">
      </div>
    </div>
    <div class="col-xs-6 col-md-4">
      <div class="form-group required">
        <label>Barcode</label>
        <input type="text" class="form-control" ng-model="sale.barcode">
      </div>
    </div>
    <div class="col-xs-6 col-md-4">
      <div class="form-group required">
        <label>Distrubution Channel</label>
        <input type="text" class="form-control" ng-model="sale.distributionChannel">
      </div>
    </div>
    <div class="col-xs-6 col-md-4">
      <div class="form-group required">
        <label>Track Artist</label>
        <input type="text" class="form-control" ng-model="sale.trackArtist">
      </div>
    </div>
    <div class="col-xs-6 col-md-4">
      <div class="form-group required">
        <label>Cat No.</label>
        <input type="text" class="form-control" ng-model="sale.catNo">
      </div>
    </div>
    <div class="col-xs-6 col-md-4">
      <div class="form-group required">
        <label>Configuration</label>
        <input type="text" class="form-control" ng-model="sale.configuration">
      </div>
    </div>
    <div class="col-xs-6 col-md-4">
      <div class="form-group required">
        <label>Album Title</label>
        <input type="text" class="form-control" ng-model="sale.albumTitle">
      </div>
    </div>
    <div class="col-xs-6 col-md-4">
      <div class="form-group required">
        <label>ISRC</label>
        <input type="text" class="form-control" ng-model="sale.isrc">
      </div>
    </div>
    <div class="col-xs-6 col-md-4">
      <div class="form-group required">
        <label>Source</label>
        <input type="text" class="form-control" ng-model="sale.source">
      </div>
    </div>
    <div class="col-xs-6 col-md-4">
      <div class="form-group required">
        <label>Album Artist</label>
        <input type="text" class="form-control" ng-model="sale.albumArtist">
      </div>
    </div>
    <div class="col-xs-6 col-md-4">
      <div class="form-group required">
        <label>Territory</label>
        <input type="text" class="form-control" ng-model="sale.territory">
      </div>
    </div>
    <div class="col-xs-6 col-md-4">
      <div class="form-group required">
        <label>Subsource</label>
        <input type="text" class="form-control" ng-model="sale.subsource">
      </div>
    </div>
  </div>
  <!-- Buttons and Total -->
  <div class="row">
    <div class="col-xs-12 center">
      <button class="btn btn-complete" ng-click="search()"><i class="fa fa-search"></i>&nbsp;Filter</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <button class="btn btn-primary" data-toggle="modal" data-target="#modalEditFields" ng-click="editSelected()">&nbsp;Edit Selected</button>
      <button class="btn btn-success" data-toggle="modal" data-target="#modalEditFields" ng-click="editFiltered()">&nbsp;Edit Filtered</button>
    </div>
    <div class="col-xs-6">
      <h5 class="pull-right">Total: 
        {{total}}
      </h5>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
<!--         <div class="panel-heading">
          <div class="panel-title">
            Unmapped
          </div>
        </div> -->
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-hover table-condensed dataTable no-footer sales-table sales-table-with-checkbox">
              <thead>
                <tr>
                  <th><input type="checkbox"></th>
                  <th ng-click="getSortedData('barcode')" ng-class="whatClassIsIt('barcode')">Barcode</th>
                  <th ng-click="getSortedData('catNo')" ng-class="whatClassIsIt('catNo')">Cat no</th> 
                  <th ng-click="getSortedData('catType')" ng-class="whatClassIsIt('catType')">Cat type</th>
                  <th ng-click="getSortedData('configuration')" ng-class="whatClassIsIt('configuration')">Configuration</th>
                  <th ng-click="getSortedData('distributionChannel')" ng-class="whatClassIsIt('distributionChannel')">Channel</th>
                  <th ng-click="getSortedData('exchangeRate')" ng-class="whatClassIsIt('exchangeRate')">Exchange rate</th>
                  <th ng-click="getSortedData('grossAmount')" ng-class="whatClassIsIt('grossAmount')">Gross</th>
                  <th ng-click="getSortedData('homeCurrency')" ng-class="whatClassIsIt('homeCurrency')">Home currency</th>
                  <th ng-click="getSortedData('identifier')" ng-class="whatClassIsIt('identifier')">Identifier</th>
                  <th ng-click="getSortedData('isrc')" ng-class="whatClassIsIt('isrc')">ISRC</th>
                  <th ng-click="getSortedData('netAmount')" ng-class="whatClassIsIt('netAmount')">Net amount</th>
                  <th ng-click="getSortedData('originalCurrency')" ng-class="whatClassIsIt('originalCurrency')">Original currency</th>
                  <th ng-click="getSortedData('originalTitle')" ng-class="whatClassIsIt('originalTitle')">Original title</th>
                  <th ng-click="getSortedData('priceCategoryreleaseArtist')" ng-class="whatClassIsIt('priceCategoryreleaseArtist')">Price cat</th>
                  <th ng-click="getSortedData('releaseArtist')" ng-class="whatClassIsIt('releaseArtist')">Release artist</th>
                  <th ng-click="getSortedData('releaseID')" ng-class="whatClassIsIt('releaseID')">Release id</th>
                  <th ng-click="getSortedData('releaseTitle')" ng-class="whatClassIsIt('releaseTitle')">Release title</th>
                  <th ng-click="getSortedData('saleDate')" ng-class="whatClassIsIt('saleDate')">Sale date</th>
                  <th ng-click="getSortedData('salePrice')" ng-class="whatClassIsIt('salePrice')">Sale price</th>
                  <th ng-click="getSortedData('source')" ng-class="whatClassIsIt('source')">Source</th>
                  <th ng-click="getSortedData('status')" ng-class="whatClassIsIt('status')">Status</th>
                  <th ng-click="getSortedData('territory')" ng-class="whatClassIsIt('territory')">Territory</th>
                  <th ng-click="getSortedData('trackArtist')" ng-class="whatClassIsIt('trackArtist')">Track artist</th>
                  <th ng-click="getSortedData('trackID')" ng-class="whatClassIsIt('trackID')">Track id</th>
                  <th ng-click="getSortedData('trackTitle')" ng-class="whatClassIsIt('trackTitle')">Track title</th>
                  <th ng-click="getSortedData('transactionDate')" ng-class="whatClassIsIt('transactionDate')">Transaction date</th>
                  <th ng-click="getSortedData('type')" ng-class="whatClassIsIt('type')">Type</th>
                  <th ng-click="getSortedData('units')" ng-class="whatClassIsIt('units')">Units</th>
                  <th ng-click="getSortedData('workID')" ng-class="whatClassIsIt('workID')">Work id</th>
                  <th> <div class="edit-unmapped"> <i class="fa fa-pencil"></i> </div> </th>                                                                        
                </tr>
              </thead>
              <tbody>
                <tr sales-unmapped-table-row ng-repeat="sale in sales" sale="sale" single="editSingle()"></tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

      <div class="modal fade stick-up" id="modalEditFields" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header clearfix text-left">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
              </button>
              <h5>Update Fields</h5>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Type</label>
                      <ui-select ng-model="sale.type">
                        <ui-select-match>
                          <span ng-bind="$select.selected"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="item in types">
                          <span ng-bind="item"></span>
                        </ui-select-choices>
                      </ui-select>
                  </div>
                  <div class="form-group">
                    <label>Source</label>
                    <input type="text" class="form-control">
                  </div>
                  <div class="form-group">
                    <label>Sub Source</label>
                    <input type="text" class="form-control">
                  </div>
                  <div class="form-group">
                    <label>Distribution Channel</label>
                    <ui-select ng-model="sale.channel">
                      <ui-select-match>
                        <span ng-bind="$select.selected"></span>
                      </ui-select-match>
                      <ui-select-choices repeat="item in distributionChannels">
                        <span ng-bind="item"></span> 
                      </ui-select-choices>
                    </ui-select>
                  </div>
                  <div class="form-group">
                    <label>Configuration</label>
                    <ui-select ng-model="sale.configuration">
                      <ui-select-match>
                        <span ng-bind="$select.selected"></span>
                      </ui-select-match>
                      <ui-select-choices repeat="item in configurations">
                        <span ng-bind="item"></span>
                      </ui-select-choices>
                    </ui-select>
                  </div>
                  <div class="form-group">
                    <label>Price Category</label>
                    <ui-select ng-model="sale.priceCategory">
                      <ui-select-match>
                        <span ng-bind="$select.selected"></span>
                      </ui-select-match>
                      <ui-select-choices repeat="item in priceCategories">
                        <span ng-bind="item"></span>
                      </ui-select-choices>
                    </ui-select>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Currency</label>
                      <ui-select ng-model="sale.currency">
                        <ui-select-match>
                            <span ng-bind="$select.selected.code"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="currency.code as currency in currencies | orderBy: 'code'">
                            <span ng-bind-html="currency.code"></span>
                            <span> &nbsp; - &nbsp; </span>
                            <span ng-bind-html="currency.name"></span>
                        </ui-select-choices>
                      </ui-select>
                  </div>
                  <div class="form-group">
                    <label>Exchange Rate</label>
                    <input type="text" class="form-control">
                  </div>
                  <div class="form-group">
                    <label>Territory</label>
                    <ui-select ng-model="sale.territory">
                      <ui-select-match>
                          <span ng-bind="$select.selected.name"></span>
                      </ui-select-match>
                      <ui-select-choices group-by="groupFind" repeat="territory.code as territory in territories">
                          <span class="country" ng-bind="territory.name"></span>
                      </ui-select-choices>
                    </ui-select>
                  </div>
                  <div class="form-group">
                    <label>Sale Date</label>
                    <div id="datepicker-component" class="form-group input-group date">
                      <input type="text" class="form-control" ng-model="sale.saleDate" uib-datepicker-popup="dd/MM/yyyy" is-open="saleDatePopup" ng-click="openSaleDatePopup()">
                      <span class="input-group-addon" ng-click="openSaleDatePopup()">
                        <i class="fa fa-calendar"></i>
                      </span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Transaction Date</label>
                    <div id="datepicker-component" class="form-group input-group date">
                      <input type="text" class="form-control" ng-model="sale.transactionDate" uib-datepicker-popup="dd/MM/yyyy" is-open="transactionDatePopup" ng-click="openTransactionDatePopup()">
                      <span class="input-group-addon" ng-click="openTransactionDatePopup()">
                        <i class="fa fa-calendar"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12"><hr></div>
                <div class="col-xs-6">
                  <div class="form-group">
                    <label>Release</label>
                    <ui-select ng-model="sale.releaseTitle">
                      <ui-select-match>
                          <span ng-bind="$select.selected.title"></span>
                      </ui-select-match>
                      <ui-select-choices repeat="item._id as item in releases | filter:$select.search">
                          <span ng-bind="item.title"></span>
                      </ui-select-choices>
                    </ui-select>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="form-group">
                    <label>Track</label>
                    <ui-select ng-model="sale.trackTitle">
                      <ui-select-match>
                          <span ng-bind="$select.selected.title"></span>
                      </ui-select-match>
                      <ui-select-choices repeat="item._id as item in tracks | filter:$select.search">
                          <span ng-bind="item.title"></span>
                      </ui-select-choices>
                    </ui-select>
                  </div>
                  <div class="form-group">
                    <label>Work</label>
                    <ui-select ng-model="sale.workTitle">
                      <ui-select-match>
                          <span ng-bind="$select.selected.title"></span>
                      </ui-select-match>
                      <ui-select-choices repeat="item._id as item in works | filter:$select.search">
                          <span ng-bind="item.title"></span>
                      </ui-select-choices>
                    </ui-select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 m-t-20 text-right">
                  <button type="button" class="btn btn-default m-t-5" data-dismiss="modal">Cancel</button>
                  <button type="button" ng-if="single" class="btn btn-complete m-t-5" ng-click="updateSingle()"><i class="fa fa-check"></i>&nbsp;Update</button>
                  <button type="button" ng-if="selected" class="btn btn-complete m-t-5" ng-click="updateSelected()"><i class="fa fa-check"></i>&nbsp;Update</button>
                  <button type="button" ng-if="filtered" class="btn btn-complete m-t-5" ng-click="updateFiltered()"><i class="fa fa-check"></i>&nbsp;Update</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>