<div class="jumbotron" data-pages="parallax">
  <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
    <div class="inner">
      <ul class="breadcrumb">
        <li>
          <p>Curve</p>
        </li>
        <li><a href="/#/sales">Sales</a></li>
        <li ng-show="!salesFile._id"><a href="/#/sales/import" class="active">Import</a></li>
        <li ng-show="salesFile._id"><a href="/#/sales/{{salesFile._id}}/edit" class="active">{{salesFile.name}}</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- Main Container -->
<div class="container-fluid container-fixed-lg">
  <div class="row">
    <div class="col-xs-8">
      <div class="form-group f-l m-t-10">
        <input type="text" class="form-control" placeholder="Name" ng-model="salesFile.name">
      </div>
      <div class="form-group f-l m-t-10 w-13">
        <ui-select class="full-width" ng-model="salesFile.salesAccountName">
          <ui-select-match placeholder="Source">
            <span ng-bind="$select.selected.source"></span>
          </ui-select-match>
          <ui-select-choices repeat="item.source as item in sources | orderBy: 'source' | filter: $select.search">
            <span ng-bind="item.source"></span>
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="form-group f-l m-t-10 w-13">
        <ui-select class="full-width" ng-model="salesFile.salesTemplateName" on-select="onSelectedTemplate($item)">
          <ui-select-match placeholder="Template">
            <span ng-bind="$select.selected.name"></span>
          </ui-select-match>
          <ui-select-choices repeat="item.name as item in templates | orderBy: 'name' | filter: { source: salesFile.salesAccountName } : true">
            <span ng-bind="item.name"></span>
          </ui-select-choices>
        </ui-select>
      </div>
      <a href="/#/templates/{{templateId}}/edit" class="btn btn-warning f-l m-t-10"><i class="fa fa-pencil"></i>&nbsp;Edit Template</a>
      <a href="/#/templates/new" class="btn btn-success f-l m-t-10" ng-hide="salesImport"><i class="fa fa-plus"></i>&nbsp;Create Template</a>
    </div>
    <div class="col-xs-4 text-right">
      <input type="file" class="inline m-t-10" ngf-select ngf-allow-dir="false" ng-model="file">
      <button class="btn btn-complete m-t-10" ng-click="upload(file)"><i class="fa fa-download"></i>&nbsp;Import</button>
      <a class="btn btn-complete pull-right m-t-10" ng-show="salesImport || salesFile._id" ng-click="ingest()">Ingest</a>
    </div>
  </div>
  <div ng-show="salesImport || salesFile._id">
    <div class="row m-t-40">
      <div class="col-xs-12 col-md-12 col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title">
              Set fields
            </div>
          </div>
          <div class="panel-body p-t-15">
            <div class="row">
              <div class="col-xs-6 col-sm-3">
                <div class="form-group">
                  <label>Type</label>
                  <ui-select ng-model="salesFile.type">
                    <ui-select-match>
                      <span ng-bind="$select.selected"></span>
                    </ui-select-match>
                    <ui-select-choices repeat="item in types | filter: $select.search">
                      <span ng-bind="item"></span>
                    </ui-select-choices>
                  </ui-select>
                </div>
              </div>
              <div class="col-xs-6 col-sm-3">
                <div class="form-group">
                  <label>Distribution Channel</label>
                  <ui-select ng-model="salesFile.distributionChannel">
                    <ui-select-match>
                      <span ng-bind="$select.selected"></span>
                    </ui-select-match>
                    <ui-select-choices repeat="item in distributionChannels | orderBy:'item' | filter: $select.search">
                      <span ng-bind="item"></span>
                    </ui-select-choices>
                  </ui-select>
                </div>
              </div>
              <div class="col-xs-6 col-sm-3">
                <div class="form-group">
                  <label>Currency</label>
                  <ui-select ng-model="salesFile.currency">
                    <ui-select-match>
                      <span ng-bind="$select.selected.code"></span>
                    </ui-select-match>
                    <ui-select-choices repeat="currency.code as currency in currencies | orderBy: 'code' | filter: $select.search">
                      <span ng-bind-html="currency.code"></span>
                      <span> &nbsp; - &nbsp; </span>
                      <span ng-bind-html="currency.name"></span>
                    </ui-select-choices>
                  </ui-select>
                </div>
              </div>
              <div class="col-xs-6 col-sm-3">
                <div class="form-group">
                  <label>Sale Date</label>
                  <div id="datepicker-component" class="form-group input-group date">
                    <input type="text" class="form-control" ng-model="salesFile.saleDate" uib-datepicker-popup="dd/MM/yyyy" is-open="saleDatePopup" ng-click="openSaleDatePopup()">
                    <span class="input-group-addon" ng-click="openSaleDatePopup()">
                      <i class="fa fa-calendar"></i>
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-xs-6 col-sm-3">
                <div class="form-group">
                  <label>Source</label>
                  <input type="text" class="form-control" ng-model="salesFile.source">
                </div>
              </div>
              <div class="col-xs-6 col-sm-3">
                <div class="form-group">
                  <label>Configuration</label>
                  <ui-select ng-model="salesFile.configuration">
                    <ui-select-match>
                      <span ng-bind="$select.selected"></span>
                    </ui-select-match>
                    <ui-select-choices repeat="item in configurations | orderBy:'item' | filter: $select.search">
                      <span ng-bind="item"></span>
                    </ui-select-choices>
                  </ui-select>
                </div>
              </div>
              <div class="col-xs-6 col-sm-3">
                <div class="form-group">
                  <label>Exchange Rate</label>
                  <input type="text" class="form-control" ng-model="salesFile.exchangeRate">
                </div>
              </div>
              <div class="col-xs-6 col-sm-3">
                <div class="form-group">
                  <label>Transaction Date</label>
                  <div id="datepicker-component" class="form-group input-group date">
                    <input type="text" class="form-control" ng-model="salesFile.transactionDate" uib-datepicker-popup="dd/MM/yyyy" is-open="transactionDatePopup" ng-click="openTransactionDatePopup()">
                    <span class="input-group-addon" ng-click="openTransactionDatePopup()">
                      <i class="fa fa-calendar"></i>
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-xs-6 col-sm-3">
                <div class="form-group">
                  <label>Sub Source</label>
                  <input type="text" class="form-control" ng-model="salesFile.subSource">
                </div>
              </div>
              <div class="col-xs-6 col-sm-3">
                <div class="form-group">
                  <label>Price Category</label>
                  <ui-select ng-model="salesFile.priceCategory">
                    <ui-select-match>
                      <span ng-bind="$select.selected"></span>
                    </ui-select-match>
                    <ui-select-choices repeat="item  in priceCategories | orderBy:'item' | filter: $select.search">
                      <span ng-bind="item"></span>
                    </ui-select-choices>
                  </ui-select>
                </div>
              </div>
              <div class="col-xs-6 col-sm-3">
                <div class="form-group">
                  <label>Territory</label>
                  <ui-select ng-model="salesFile.territory">
                    <ui-select-match>
                      <span ng-bind="$select.selected.name"></span>
                    </ui-select-match>
                    <ui-select-choices group-by="groupFind" repeat="territory.code as territory in territories | filter: $select.search">
                      <span class="country" ng-bind="territory.name"></span>
                    </ui-select-choices>
                  </ui-select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-12 col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title">
              Example lines
            </div>
          </div>
          <div class="panel-body p-t-15" style="overflow-x:auto;">
            <table class="template-example-table">
              <tbody>
                <tr ng-repeat="row in salesFile.exampleLines track by $index">
                  <td ng-repeat="column in row track by $index">
                    {{column}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
