<div class="row">
  <div class="form-group col-xs-3 col-md-2">
    <label ng-if="!index">Territory</label>
    <ui-select ng-model="mechanical.territory">
      <ui-select-match>
          <span ng-bind="$select.selected.name"></span>
      </ui-select-match>
      <ui-select-choices group-by="groupFind" repeat="country.code as country in countries | filter: $select.search">
          <span class="country" ng-bind="country.name"></span>
      </ui-select-choices>
    </ui-select>
  </div>
  <div class="form-group col-xs-3 col-md-1">
    <label ng-if="!index">Rate %</label>
    <input type="text" class="form-control" ng-model="mechanical.rate">
  </div>
  <div class="form-group col-xs-3 col-md-1 sales-row-field-smaller">
    <button class="btn btn-danger row-button" ng-click="delete({ mechanical: mechanical })" ng-if="!index"><i class="fa fa-trash"></i></button>
    <button class="btn btn-danger" ng-click="delete({ mechanical: mechanical })" ng-if="index"><i class="fa fa-trash"></i></button>
  </div>
</div>
