<td class="v-align-middle"><input type="checkbox" ng-model="cost.selected"></td>
<td class="v-align-middle">
	<a ng-if="!noLinks" href="#/costs/{{ cost._id }}/edit">
		{{ cost.name }}
	</a>
	<span ng-if="noLinks">{{ cost.name }}</span>
</td>
<td class="v-align-middle">{{ cost.amount }}</td>
<td class="v-align-middle">{{ cost.type }}</td>
<td class="v-align-middle">
	<span ng-repeat="release in cost.releaseIds">
		{{ release.title }} &nbsp;
	</span>
</td>
<td class="v-align-middle">
	<span ng-repeat="contract in cost.contractIds">
		{{ contract.name }} &nbsp;
	</span>	
</td>
 