<td class="v-align-middle">{{ sale.catType }}</td>
<td class="v-align-middle">{{ sale.distributionChannel }}</td>
<td class="v-align-middle">{{ sale.configuration }}</td>
<td class="v-align-middle">{{ sale.priceCategory }}</td>
<td class="v-align-middle">{{ sale.source }}</td>
<td class="v-align-middle">{{ sale.subSource }}</td>
<td class="v-align-middle">{{ sale.territory }}</td>
<td class="v-align-middle">{{ sale.barcode }}</td>
<td class="v-align-middle">{{ sale.catNo }}</td>
<td class="v-align-middle">{{ sale.isrc }}</td>
<td class="v-align-middle">{{ sale.identifier }}</td>
<td class="v-align-middle">{{ sale.units }}</td>
<td class="v-align-middle">{{ sale.salePrice }}</td>
<td class="v-align-middle">{{ sale.grossAmount }}</td>
<td class="v-align-middle">{{ sale.netAmount }}</td>
<td class="v-align-middle">{{ sale.originalCurrency }}</td>
<td class="v-align-middle">{{ sale.exchangeRate }}</td>
<td class="v-align-middle">{{ sale.homeCurrencyGrossAmount }}</td>
<td class="v-align-middle">{{ sale.homeCurrencyNetAmount }}</td>
<td class="v-align-middle">{{ sale.catalogueReleaseTitle }}</td>
<td class="v-align-middle">{{ sale.catalogueReleaseArtist }}</td>
<td class="v-align-middle">{{ sale.catalogueTrackTitle }}</td>
<td class="v-align-middle">{{ sale.catalogueTrackArtist }}</td>
<td class="v-align-middle">{{ sale.saleDate }}</td>
<td class="v-align-middle">{{ sale.transactionDate }}</td>
<td class="v-align-middle">{{ sale.releaseId }}</td>
<td class="v-align-middle">{{ sale.trackId }}</td>
<td class="v-align-middle">{{ sale.workId }}</td>
