<td class="v-align-middle"><input type="checkbox" ng-model="sale.selected"></td>
<td class="v-align-middle">{{ sale.barcode }}</td>
<td class="v-align-middle">{{ sale.catNo }}</td>
<td class="v-align-middle">{{ sale.catType }}</td>
<td class="v-align-middle">{{ sale.configuration }}</td>
<td class="v-align-middle">{{ sale.distributionChannel }}</td>
<td class="v-align-middle">{{ sale.exchangeRate }}</td>
<td class="v-align-middle">{{ sale.grossAmount }}</td>
<td class="v-align-middle">{{ sale.homeCurrency }}</td>
<td class="v-align-middle">{{ sale.identifier }}</td>
<td class="v-align-middle">{{ sale.isrc }}</td>
<td class="v-align-middle">{{ sale.netAmount }}</td>
<td class="v-align-middle">{{ sale.originalCurrency }}</td>
<td class="v-align-middle">{{ sale.originalTitle }}</td>
<td class="v-align-middle">{{ sale.priceCategory }}</td>
<td class="v-align-middle">{{ sale.releaseArtist }}</td>
<td class="v-align-middle">{{ sale.releaseID }}</td>
<td class="v-align-middle">{{ sale.releaseTitle }}</td>
<td class="v-align-middle">{{ sale.saleDate }}</td>
<td class="v-align-middle">{{ sale.salePrice }}</td>
<td class="v-align-middle">{{ sale.source }}</td>
<td class="v-align-middle">{{ sale.status }}</td>
<td class="v-align-middle">{{ sale.territory }}</td>
<td class="v-align-middle">{{ sale.trackArtist }}</td>
<td class="v-align-middle">{{ sale.trackID }}</td>
<td class="v-align-middle">{{ sale.trackTitle }}</td>
<td class="v-align-middle">{{ sale.transactionDate }}</td>
<td class="v-align-middle">{{ sale.type }}</td>
<td class="v-align-middle">{{ sale.units }}</td> 
<td class="v-align-middle">{{ sale.workID }}</td>
<td class="v-align-middle">
	<a data-toggle="modal" data-target="#modalEditFields" ng-click="single()">
		<div class="edit-unmapped"> <i class="fa fa-pencil"></i> </div>	
	</a>
</td> 




  
