<td class="v-align-middle"><input type="checkbox" ng-model="unmapped.selected"></td>
<td class="v-align-middle">{{ template.source }}</td>
<td class="v-align-middle">{{ template.name }}</td>
<td class="v-align-middle">{{ template.name }}</td>
<td class="v-align-middle">{{ template.name }}</td>
<td class="v-align-middle">{{ template.name }}</td>
<td class="v-align-middle">{{ template.name }}</td>
<td class="v-align-middle">{{ template.name }}</td>
<td class="v-align-middle">{{ template.name }}</td>
<td class="v-align-middle">{{ template.name }}</td>
<td class="v-align-middle">{{ template.name }}</td>
<td class="v-align-middle">{{ template.name }}</td>
<td class="v-align-middle">{{ template.name }}</td>
<td class="v-align-middle">
	<a href="#/unmapped/{{unmapped._id }}/edit">
		<i class="fa fa-pencil"></i>	
	</a>
</td>