<td ng-if="!noCheckboxes" class="v-align-middle"><input type="checkbox" class='select-unit' ng-model="user.selected"></td>
<td class="v-align-middle">
	<a ng-if="!noLinks" href="#/users/{{ user._id }}/edit"> {{ user.email }}	</a>
	<span ng-if="noLinks">{{ user.email }}</span>
</td>
<td class="v-align-middle">{{ user.status }}</td>
<td ng-if="addIcon" class="v-align-middle">
	<button ng-if="!user.added" class="btn btn-sm btn-complete" ng-click="addFunction(user)">
		<i class="fa fa-plus"></i>
	</button>
	<button ng-if="user.added" class="btn btn-sm btn-success" disabled="true">
		<i class="fa fa-check"></i>
	</button>
</td>
