<div class="jumbotron" data-pages="parallax">
  <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
    <div class="inner">
      <ul class="breadcrumb">
        <li>
          <p>Curve</p>
        </li>
        <li><a href="/#/payees">Payees</a></li>
        <li><a href="" class="active">Create</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- Main Container -->
<div class="container-fluid container-fixed-lg">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-complete pull-right">Save</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            Overview
          </div>
        </div>
        <div class="panel-body p-t-15">
          <div class="form-group required">
            <label>Name</label>
            <input type="text" class="form-control" required>
          </div>
          <div class="form-group">
              <label>Address</label>
              <textarea class="form-control standard-textarea"></textarea>
            </div>
          <div class="form-group required">
            <label>Country</label>
            <select class="full-width" data-init-plugin="select2">
              <option value="WV">Country 1</option>
              <option value="WV">Country 1</option>
              <option value="WV">Country 1</option>
              <option value="WV">Country 1</option>
              <option value="WV">Country 1</option>
            </select>
          </div>
          <div class="form-group required">
            <label>Vat No.</label>
            <input type="text" class="form-control" required>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            Bank Details
          </div>
        </div>
        <div class="panel-body p-t-15">
          <form role="form">
            <div class="form-group required">
              <label>Bank Name</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>Bank Address</label>
              <textarea class="form-control standard-textarea"></textarea>
            </div>
            <div class="form-group required">
              <label>Account No.</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group required">
              <label>SORT</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group required">
              <label>IBAN</label>
              <input type="text" class="form-control">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>