<div class="jumbotron" data-pages="parallax">
  <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
    <div class="inner">
      <ul class="breadcrumb">
        <li>
          <p>Curve</p>
        </li>
        <li><a href="/#/tracks">Tracks</a></li>
        <li><a href="" class="active">Create</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- Main Container -->
<div class="container-fluid container-fixed-lg">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-complete pull-right">Save</button>
    </div>
  </div>
  <div class="row">
    <div class="panel panel-transparent">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs hidden-sm hidden-xs" data-init-reponsive-tabs="dropdownfx">
        <li class="active">
          <a data-toggle="tab" href="#overview" aria-expanded="true"><span>Overview</span></a>
        </li>
        <li class="">
          <a data-toggle="tab" href="#rights" aria-expanded="false"><span>Rights</span></a>
        </li>
        <li class="">
          <a data-toggle="tab" href="#aliases" aria-expanded="false"><span>Alises</span></a>
        </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="overview">
          <div class="row">
            <!--TABLE TABLE TABLE TABLE -->
            <div class="col-xs-12 col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="panel-title">
                    Overview
                  </div>
                </div>
                <div class="panel-body p-t-15">
                  <div class="form-group required">
                    <label>Title</label>
                    <input type="text" class="form-control" required>
                  </div>
                  <div class="form-group required">
                    <label>Version</label>
                    <input type="text" class="form-control" required>
                  </div>
                  <div class="form-group required">
                    <label>Artist</label>
                    <input type="text" class="form-control" required>
                  </div>
                  <div class="form-group required">
                    <label>ISRC</label>
                    <input type="text" class="form-control" required>
                  </div>
                  <div class="form-group required">
                    <label>P Line</label>
                    <input type="text" class="form-control" required>
                  </div>
                </div>
              </div>
            </div>
             <!-- TABLE END TABLE END TABLE END TABLE END -->
          </div>
        </div>
        <div class="tab-pane" id="rights">
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="panel-title">
                    Sales/Returns
                  </div>
                </div>
                <div class="panel-body p-t-15">
                  <div class="row">
                    <div class="form-group required col-xs-10">
                      <label>Contract</label>
                      <select class="full-width" data-init-plugin="select2">
                        <option value="WV">Contract 1</option>
                        <option value="WV">Contract 1</option>
                        <option value="WV">Contract 1</option>
                        <option value="WV">Contract 1</option>
                      </select>
                    </div>
                    <div class="form-group required col-xs-2">
                      <label>Rate</label>
                      <input type="text" class="form-control" required>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group required col-xs-10">
                      <label>Contract</label>
                      <select class="full-width" data-init-plugin="select2">
                        <option value="WV">Contract 1</option>
                        <option value="WV">Contract 1</option>
                        <option value="WV">Contract 1</option>
                        <option value="WV">Contract 1</option>
                      </select>
                    </div>
                    <div class="form-group required col-xs-2">
                      <label>Rate</label>
                      <input type="text" class="form-control" required>
                    </div>
                  </div>
                  <br>
                  <button class="btn btn-complete">Add Contract</button>
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="panel-title">
                    Costs
                  </div>
                </div>
                <div class="panel-body p-t-15">
                  <div class="row">
                    <div class="form-group required col-xs-10">
                      <label>Contract</label>
                      <select class="full-width" data-init-plugin="select2">
                        <option value="WV">Contract 1</option>
                        <option value="WV">Contract 1</option>
                        <option value="WV">Contract 1</option>
                        <option value="WV">Contract 1</option>
                      </select>
                    </div>
                    <div class="form-group required col-xs-2">
                      <label>Rate</label>
                      <input type="text" class="form-control" required>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group required col-xs-10">
                      <label>Contract</label>
                      <select class="full-width" data-init-plugin="select2">
                        <option value="WV">Contract 1</option>
                        <option value="WV">Contract 1</option>
                        <option value="WV">Contract 1</option>
                        <option value="WV">Contract 1</option>
                      </select>
                    </div>
                    <div class="form-group required col-xs-2">
                      <label>Rate</label>
                      <input type="text" class="form-control" required>
                    </div>
                  </div>
                  <br>
                  <button class="btn btn-complete">Add Contract</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="aliases">
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="panel-title">
                    Aliases
                  </div>
                </div>
                <div class="panel-body p-t-15">
                  <div class="form-group required">
                    <label>Title</label>
                    <input type="text" class="form-control" required>
                  </div>
                  <div class="form-group required">
                    <label>Version</label>
                    <input type="text" class="form-control" required>
                  </div>
                  <div class="form-group required">
                    <label>Artist</label>
                    <input type="text" class="form-control" required>
                  </div>
                  <br>
                  <button class="btn btn-complete">Add</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>