<div class="jumbotron" data-pages="parallax">
  <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
    <div class="inner">
      <ul class="breadcrumb">
        <li>
          <p>Curve</p>
        </li>
        <li><a href="/#/releases">Releases</a></li>
        <li><a href="" class="active">Create</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- Main Container -->
<div class="container-fluid container-fixed-lg">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-complete pull-right">Save</button>
    </div>
  </div>
  <div class="row">
    <div class="panel panel-transparent">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs hidden-sm hidden-xs" data-init-reponsive-tabs="dropdownfx">
        <li class="active">
          <a data-toggle="tab" href="#overview" aria-expanded="true"><span>Overview</span></a>
        </li>
        <li class="">
          <a data-toggle="tab" href="#rights" aria-expanded="false"><span>Rights</span></a>
        </li>
        <li class="">
          <a data-toggle="tab" href="#aliases" aria-expanded="false"><span>Alises</span></a>
        </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="overview">
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="panel-title">
                    Overview
                  </div>
                </div>
                <div class="panel-body p-t-15">
                  <div class="form-group required">
                    <label>Title</label>
                    <input type="text" class="form-control" required>
                  </div>
                  <div class="form-group required">
                    <label>Version</label>
                    <input type="text" class="form-control" required>
                  </div>
                  <div class="form-group required">
                    <label>Artist</label>
                    <input type="text" class="form-control" required>
                  </div>
                  <div class="form-group required">
                    <label>Cat No</label>
                    <input type="text" class="form-control" required>
                  </div>
                  <div class="form-group required">
                    <label>Barcode</label>
                    <input type="text" class="form-control" required>
                  </div>
                  <div class="form-group required">
                    <label>Release Date</label>
                    <div id="datepicker-component" class="form-group input-group date required">
                      <input type="text" class="form-control">
                      <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                      </span>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="panel-title">
                    Configuration
                  </div>
                </div>
                <div class="panel-body p-t-15">
                  <div class="form-group required">
                    <label>Format</label>
                    <select class="full-width" data-init-plugin="select2">
                      <option value="WV">Format 1</option>
                      <option value="WV">Format 2</option>
                      <option value="WV">Format 3</option>
                      <option value="WV">Format 4</option>
                    </select>
                  </div>
                  <div class="form-group required">
                    <label>Price Category</label>
                    <select class="full-width" data-init-plugin="select2">
                      <option value="WV">Price Cat 1</option>
                      <option value="WV">Price Cat 1</option>
                      <option value="WV">Price Cat 1</option>
                      <option value="WV">Price Cat 1</option>
                    </select>
                  </div>
                  <div class="form-group required">
                    <label>Dealer Price</label>
                    <input type="text" class="form-control" required>
                  </div>
                  <div class="form-group required">
                    <label>MCPS ID</label>
                    <input type="text" class="form-control" required>
                  </div>
                  <div class="checkbox">
                    <input type="checkbox" value="3" id="checkbox4">
                    <label for="checkbox4">Exempt from Mechanicals</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="panel-title">
                    Tracks
                  </div>
                </div>
                <div class="panel-body">
                  <div class="table-responsive">
                    <table class="table table-hover table-condensed dataTable no-footer">
                       <button class="btn btn-danger pull-right"><i class="fa fa-trash"></i>&nbsp;Remove Track</button>
                      <button class="btn btn-complete pull-right"><i class="fa fa-plus"></i>&nbsp;Add Track</button>
                      <thead>
                        <tr>
                          <th class="table-checkbox"><input type="checkbox"></th>
                          <th>Track Title</th>
                          <th>Artist</th>
                          <th>No.</th>
                          <th>P Line</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="v-align-middle"><input type="checkbox"></td>
                          <td class="v-align-middle">Title</td>
                          <td class="v-align-middle">Artist</td>
                          <td>123456789</td>
                          <td>P Line</td>
                        </tr>
                        <tr>
                          <td class="v-align-middle"><input type="checkbox"></td>
                          <td class="v-align-middle">Title</td>
                          <td class="v-align-middle">Artist</td>
                          <td>123456789</td>
                          <td>P Line</td>
                        </tr>
                        <tr>
                          <td class="v-align-middle"><input type="checkbox"></td>
                          <td class="v-align-middle">Title</td>
                          <td class="v-align-middle">Artist</td>
                          <td>123456789</td>
                          <td>P Line</td>
                        </tr>
                        <tr>
                          <td class="v-align-middle"><input type="checkbox"></td>
                          <td class="v-align-middle">Title</td>
                          <td class="v-align-middle">Artist</td>
                          <td>123456789</td>
                          <td>P Line</td>
                        </tr>
                        <tr>
                          <td class="v-align-middle"><input type="checkbox"></td>
                          <td class="v-align-middle">Title</td>
                          <td class="v-align-middle">Artist</td>
                          <td>123456789</td>
                          <td>P Line</td>
                        </tr>

                        
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="rights">
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="panel-title">
                    Sales/Returns
                  </div>
                </div>
                <div class="panel-body p-t-15">
                  <div class="row">
                    <div class="form-group required col-xs-10">
                      <label>Contract</label>
                      <select class="full-width" data-init-plugin="select2">
                        <option value="WV">Contract 1</option>
                        <option value="WV">Contract 1</option>
                        <option value="WV">Contract 1</option>
                        <option value="WV">Contract 1</option>
                      </select>
                    </div>
                    <div class="form-group required col-xs-2">
                      <label>Rate</label>
                      <input type="text" class="form-control" required>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group required col-xs-10">
                      <label>Contract</label>
                      <select class="full-width" data-init-plugin="select2">
                        <option value="WV">Contract 1</option>
                        <option value="WV">Contract 1</option>
                        <option value="WV">Contract 1</option>
                        <option value="WV">Contract 1</option>
                      </select>
                    </div>
                    <div class="form-group required col-xs-2">
                      <label>Rate</label>
                      <input type="text" class="form-control" required>
                    </div>
                  </div>
                  <br>
                  <button class="btn btn-complete">Add Contract</button>
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="panel-title">
                    Costs
                  </div>
                </div>
                <div class="panel-body p-t-15">
                  <div class="row">
                    <div class="form-group required col-xs-10">
                      <label>Contract</label>
                      <select class="full-width" data-init-plugin="select2">
                        <option value="WV">Contract 1</option>
                        <option value="WV">Contract 1</option>
                        <option value="WV">Contract 1</option>
                        <option value="WV">Contract 1</option>
                      </select>
                    </div>
                    <div class="form-group required col-xs-2">
                      <label>Rate</label>
                      <input type="text" class="form-control" required>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group required col-xs-10">
                      <label>Contract</label>
                      <select class="full-width" data-init-plugin="select2">
                        <option value="WV">Contract 1</option>
                        <option value="WV">Contract 1</option>
                        <option value="WV">Contract 1</option>
                        <option value="WV">Contract 1</option>
                      </select>
                    </div>
                    <div class="form-group required col-xs-2">
                      <label>Rate</label>
                      <input type="text" class="form-control" required>
                    </div>
                  </div>
                  <br>
                  <button class="btn btn-complete">Add Contract</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="aliases">
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="panel-title">
                    Aliases
                  </div>
                </div>
                <div class="panel-body p-t-15">
                  <div class="form-group required">
                    <label>Title</label>
                    <input type="text" class="form-control" required>
                  </div>
                  <div class="form-group required">
                    <label>Version</label>
                    <input type="text" class="form-control" required>
                  </div>
                  <div class="form-group required">
                    <label>Artist</label>
                    <input type="text" class="form-control" required>
                  </div>
                  <br>
                  <button class="btn btn-complete">Add</button>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>