<div class="container-fluid container-fixed-lg">
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row m-b-20">
            <div class="col-xs-12">
              <ul class="breadcrumb wizard-breadcrumb">
                <li><a class="active">Setup</a></li>
                <li>Included Sales</li>
                <li>Included Costs</li>
                <!--<li>Validation</li>-->
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" ng-model="period.name">
              </div>
              <div class="form-group">
                <label>Year</label>
                <ui-select ng-model="period.year">
                  <ui-select-match allow-clear="true">
                    <span ng-bind="$select.selected"></span>
                  </ui-select-match>
                  <ui-select-choices repeat="item in (years | filter: $select.search)">
                    <span ng-bind="item"></span>
                  </ui-select-choices>
                </ui-select>
              </div>
              <div class="form-group">
                <label>Accounting Period</label>
                <ui-select ng-model="period.accountingPeriod">
                  <ui-select-match allow-clear="true">
                    <span ng-bind="$select.selected"></span>
                  </ui-select-match>
                  <ui-select-choices repeat="item in (accountingPeriods | filter: $select.search)">
                    <span ng-bind="item"></span>
                  </ui-select-choices>
                </ui-select>
              </div>
              <div class="form-group required">
                <label>Start Date</label>
                <div id="datepicker-component" class="form-group input-group date">
                  <input type="text" class="form-control" ng-model="period.startDate" uib-datepicker-popup="dd/MM/yyyy" is-open="startDatePopup" ng-click="openStartDatePopup()">
                  <span class="input-group-addon" ng-click="openStartDatePopup()">
                    <i class="fa fa-calendar"></i>
                  </span>
                </div>
              </div>
              <div class="form-group required">
                <label>End Date</label>
                <div id="datepicker-component" class="form-group input-group date">
                  <input type="text" class="form-control" ng-model="period.endDate" uib-datepicker-popup="dd/MM/yyyy" is-open="endDatePopup" ng-click="openEndDatePopup()">
                  <span class="input-group-addon" ng-click="openEndDatePopup()">
                    <i class="fa fa-calendar"></i>
                  </span>
                </div>
              </div>
              <div class="form-group required">
                <label>Accounting Date</label>
                <div id="datepicker-component" class="form-group input-group date">
                  <input type="text" class="form-control" ng-model="period.accountingDate" uib-datepicker-popup="dd/MM/yyyy" is-open="accountingDatePopup" ng-click="openAccountingDatePopup()">
                  <span class="input-group-addon" ng-click="openAccountingDatePopup()">
                    <i class="fa fa-calendar"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="row m-t-20">
            <div class="col-xs-12">
              <a ng-click="changePage('Included Sales')" class="btn btn-complete pull-right">Next</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

 